{{!-- 
<style>
    .fluid a{
    display: inline-block;
    padding: 15px 20px;
    margin: 0;
    color: white;
    text-decoration: none;
}

.fluid a:hover {
    background-color: gray;
}
</style>

<div class="fluid bg-dark text-light fw-bolder h5">
    <a href="/" class="nav-item">
        Link1
    </a>
    <a href="/contact" class="nav-item">
        Link2
    </a>
    <a href="/about" class="nav-item">
        Link3
    </a>
    <a href="/products" class="nav-item">
        Link4
    </a>
</div> --}}

<h1>
    My name is vineeth
</h1>